<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <body>
    <!-- Modal de informações do cliente -->
    <div th:fragment="div (id, userName, email, cpf, telefone, genero, nascimento, enderecoFaturamento)"
         id="modalCliente"
         class="modal-cliente hidden fixed inset-0 bg-black bg-opacity-50 flex justify-center items-center z-50">

      <div class="bg-white p-6 rounded-lg shadow-lg w-80 relative">
        <button id="fecharModalCliente" class="absolute top-2 right-2 text-gray-500 hover:text-red-500 text-xl font-bold">&times;</button>
        <a th:href="@{/clientes/edit/{id}(id=${id})}" class="block mt-4 text-blue-600 hover:underline">
          Atualizar meus dados
        </a>

        <div>
          <h2 class="text-xl font-bold mb-2">Bem-vindo, <span th:text="${userName}"></span>!</h2>
          <p><strong>ID:</strong> <span th:text="${id}"></span></p>
          <p><strong>Email:</strong> <span th:text="${email}"></span></p>
          <p><strong>CPF:</strong> <span th:text="${cpf}"></span></p>
          <p><strong>Telefone:</strong> <span th:text="${telefone}"></span></p>
          <p><strong>Gênero:</strong> <span th:text="${genero}"></span></p>
          <p><strong>Nascimento:</strong> <span th:text="${nascimento}"></span></p>

          <div th:if="${enderecoFaturamento != null}">
            <h3 class="text-lg font-semibold mt-4 mb-2">Endereço de Faturamento</h3>
            <p><strong>CEP:</strong> <span th:text="${enderecoFaturamento.cep}"></span></p>
            <p><strong>Rua:</strong> <span th:text="${enderecoFaturamento.logradouro}"></span></p>
            <p><strong>Número:</strong> <span th:text="${enderecoFaturamento.numero}"></span></p>
            <p><strong>Complemento:</strong> <span th:text="${enderecoFaturamento.complemento} ?: '-'"></span></p>
            <p><strong>Bairro:</strong> <span th:text="${enderecoFaturamento.bairro}"></span></p>
            <p><strong>Cidade/UF:</strong>
              <span th:text="${enderecoFaturamento.cidade}"></span> /
              <span th:text="${enderecoFaturamento.uf}"></span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
