<!-- Modal de informações do cliente -->
<div id="modalCliente" class="modal-cliente hidden fixed inset-0 bg-black bg-opacity-50 flex justify-center items-center z-50">
  <div class="bg-white p-6 rounded-lg shadow-lg w-80 relative">
    <button id="fecharModalCliente" class="absolute top-2 right-2 text-gray-500 hover:text-red-500 text-xl font-bold">&times;</button>
    <a th:href="@{/clientes/edit/{id}(id=${id})}" class="block mt-4 text-blue-600 hover:underline">
      Atualizar meus dados
    </a>

    
  </div>
</div>
