<!-- Overlay de fundo -->
<div id="modalOverlay" class="fixed inset-0 z-40 bg-gray-800 bg-opacity-50"></div>

<!-- Modal -->
<div class="fixed z-50 p-6 bg-white rounded-lg shadow-lg w-[30rem] h-[41rem] top-4 right-4">
    
    <div class="relative w-1/3 p-5 text-black bg-white rounded-lg">
        <h3 class="text-2xl font-semibold">Carrinho</h3>
    
        <!-- Total do carrinho -->
        <p id="totalValor" class="mt-4 text-lg font-semibold">
          Total: R$ 
          <span th:text="${#numbers.formatDecimal(total, 1, 'COMMA', 2, 'POINT')}">0,00</span>
        </p>
    
        <!-- Conteúdo dinâmico dos produtos -->
        <div id="cartContent" class="mt-4 space-y-3">
          <div th:each="item : ${itens}" class="flex items-center justify-between pb-2 border-b">
            <div>
              <p class="font-medium" th:text="${item.produto.nomeProduto}">Nome</p>
              <div class="flex items-center gap-2 text-sm text-gray-600">
                <button th:onclick="'alterarQuantidade(' + ${item.id} + ', ' + (${item.quantidade} - 1) + ')'" 
                        class="px-2 text-white bg-red-500 rounded">-</button>
                <span th:text="${item.quantidade}">1</span>
                <button th:onclick="'alterarQuantidade(' + ${item.id} + ', ' + (${item.quantidade} + 1) + ')'" 
                        class="px-2 text-white bg-green-500 rounded">+</button>
              </div>
            </div>
            <div class="text-right">
              <p class="font-semibold">
                R$ 
                <span th:text="${#numbers.formatDecimal(item.produto.preco * item.quantidade, 1, 'COMMA', 2, 'POINT')}">
                  00,00
                </span>
              </p>
            </div>
          </div>
        </div>
    
        <!-- Seleção de frete -->
        <div class="mt-4">
          <h4 class="text-lg font-semibold">Escolha o Frete:</h4>
          <select id="freteSelect" class="py-2 pl-3 mt-2 border rounded pr-7" onchange="selecionarFrete(this.value)">
            <option disabled selected th:if="${frete == null or frete == 0.0}" value="0.00">Selecione o Frete</option>
            <option value="0.00" th:selected="${frete == 0.0}">Frete Econômico - Grátis</option>
            <option value="10.00" th:selected="${frete == 10.0}">Frete Padrão - R$ 10,00</option>
            <option value="25.00" th:selected="${frete == 25.0}">Frete Expresso - R$ 25,00</option>
          </select>
    
        </div>
    
        <!-- Botões -->
        <div class="flex justify-between mt-6">
          <button class="px-4 py-2 text-white bg-green-600 rounded hover:bg-green-700"
            onclick="abrirModalCheckout()">
            Finalizar Pedido
          </button>
    
        </div>
    
      </div>

    <button onclick="closeModal()" class="px-3 py-1 mt-4 text-white bg-red-500 rounded">Fechar</button>
</div>